@model EntitiyLayer.Concrete.Heading
@{
    ViewBag.Title = "HeadingUpdate";
    Layout = "~/Views/Shared/Writer_Layout.cshtml";
}
<h2 class="m-0 text-dark">BAŞLIĞI GÜNCELLE SAYFASI</h2>
<hr />
@using (Html.BeginForm("HeadingUpdate", "UserWriter", FormMethod.Post))
{@Html.HiddenFor(x => x.HeadingID)
@Html.HiddenFor(x => x.Date)
@Html.HiddenFor(x => x.Status)
<label>BAŞLIK ADI</label>
@Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control", @required = "", @MaxLength = 50, @placeholder = "Başlık Adı Yazınız.." })
@Html.ValidationMessageFor(x => x.HeadingName,"",new {@class="text-danger"})
<br />
<label>KATEGORİ ADI</label>
@Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.listcate, new { @class = "form-control" })
@Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })
<br />
<button type="submit" class="btn btn-outline-success">BAŞLIĞI GÜNCELLE</button>
}