@model List<EntitiyLayer.Concrete.Heading>
@{
    ViewBag.Title = "MyHeading";
    Layout = "~/Views/Shared/Writer_Layout.cshtml";
}
<h2 class="m-0 text-dark">BAŞLIKLARIMIN LİSTESİ</h2>
<hr />
<div class="card">
    <div class="card-header">
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table id="tbl1" class="table table-striped projects">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th class="text-center" style="width: 20%">
                        BAŞLIĞIN ADI
                    </th>
                    <th class="text-center" style="width: 20%">
                        OLUŞTURAN YAZAR
                    </th>
                    <th class="text-center">
                        KATEGORİSİ
                    </th>
                    <th style="width: 20%" class="text-center">
                        DURUM
                    </th>

                    <th style="width: 20%">
                        İŞLEMLER
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.HeadingID
                        </td>
                        <td class="text-center">
                            <a>
                                @item.HeadingName
                            </a>
                            <br />
                            <small>
                                @(((DateTime)item.Date).ToString("yyyy MMMM dd"))
                            </small>
                        </td>
                        <td class="text-center">
                            <img alt="Avatar" height="50" class="table-avatar" src="@item.Writer.Image">
                            <br />
                            @item.Writer.WriterName @item.Writer.WriterSurName
                        </td>
                        <td class="text-center">
                            @item.Category.CategoryName
                        </td>
                        @{
                            string statusvalue = @item.Status == true ? "AKTİF" : "PASİF";
                            string bootstrapclass = @item.Status == true ? "badge badge-success" : "badge badge-danger";
                        }
                        <td class="project-state">
                            <a href="~/UserWriter/StatusChanged/@item.HeadingID"><span class="@bootstrapclass">@statusvalue</span></a>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="~/UserWriter/HeadingContent/@item.HeadingID">
                                <i class="fas fa-folder">
                                </i>
                                Yazılar
                            </a>
                            <a class="btn btn-info btn-sm" href="~/UserWriter/HeadingUpdate/@item.HeadingID">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Güncelle
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a href="~/UserWriter/HeadingAdd" class="btn btn-outline-warning">YENİ BAŞLIK EKLE</a>
</div>
<script>
    $('#tbl1').DataTable(
        {
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
            }
        }
    );
</script>
@if (!string.IsNullOrEmpty(ViewBag.add) && ViewBag.add == "add")
{
    <script type="text/javascript">
        window.onload = function () {
            swal("Başarılı!", "Başlık Ekleme İşlemi Başarılı", "success");
        };
    </script>
}
@if (!string.IsNullOrEmpty(ViewBag.message) && ViewBag.message == "update")
{
    <script type="text/javascript">
        window.onload = function () {
            swal("Başarılı!", "Başlık Güncelleme İşlemi Başarılı", "success");
        };
    </script>
}